<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="introMessage">
            <div class="note">
                <div><img class="logo" src="/static/images/flower_logo-01.png"></div>
                <div>
                    <h1 id="title">beautiful blooms</h1>
                    <p>grow your own beautiful blooms with our bulbs and seeds<br>
                <br>choose a color to begin</p>
                </div>
                <div class="sortColors">
                    <a href="javascript:void(0);" onclick="showReds()"><button class="redButton"></button></a>
                    <button class="pinkButton"></button>
                    <a href="javascript:void(0);" onclick="showOranges()"><button class="orangeButton"></button></a>
                    <button class="yellowButton"></button>
                    <button class="bluePurpleButton"></button>
                    <button class="whiteButton"></button>
                </div>
            </div>
        </div>
        <div id="mainContent">
            <div id="productBoxes"><% flowers.forEach(flower => { %>
                <a href="/flowers/<%=flower._id; %>"> 
                    <img class="flowerImages" src="<%=flower.img; %>"></a>
                 <% }) %> 
            </div>  
        </div>
    </main>
</body>