<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="introMessage">
            <div class="note">
                <div><img class="logo" src="/static/images/flower_logo-01.png"></div>
                <div>
                    <h1 id="title">beautiful blooms</h1>
                    <p>grow your own beautiful blooms with our bulbs and seeds<br>
                <br>choose a color to begin</p></div>
            </div>
        </div>
        <div class="mainContent"></div>
    </main>
</body>