<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <header class="topnav">
        <!-- Top Navigation Menu -->
        <div id="siteName">
        <a href="#home" class="active"><img id="whiteLogo" src="/static/images/flower_logo-white.png"></a>
        </div>
        <!-- Navigation links (hidden by default) -->
        <div id="myLinks">
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        
    </header>
    <main>
        <div class="introMessage">
            <div class="note">
                <div><img class="logo" src="/static/images/flower_logo-01.png"></div>
                <div>
                    <h1 id="title">beautiful blooms</h1>
                    <p>grow your own beautiful blooms with our bulbs and seeds<br>
                <br>choose a color to begin</p></div>
            </div>
        </div>
        <div class="mainContent"></div>
    </main>
</body>