<!DOCTYPE html>
<html>
<%- include("partials/head.ejs") %>
<body>
    <%- include("partials/header.ejs") %>
    <main>
        <div class="note">
            <div class="detail"> 
                <form id="createFlower" action="/flowers" method="POST">         
                <div class="flowerPic">
                    <input type="file"  accept="image/gif, image/jpeg, image/png" name="img">
                </div> 
                <div class="flowerDetail">
                    <h2><input type="text" name="name" placeholder="Flower name" /></h2>
                    <textarea rows="5" cols="30" name="description" placeholder="Flower description"></textarea><br>
                    <div id="buy"><input type="number" step="0.01" name="price" placeholder="Price" /></div>
                    <h5>Items remaining <input type="number" name="qty" placeholder="Qty in stock" ></h5>
                    <h5>Tags <input type="text" name="tags" placeholder="Color" ></h5>
                    <input id="save" type="submit" form="createFlower" value="SAVE">
                </div>
                </form>  
            </div>
        </div>
    </main>
</body>